<div class="container text-center m-4">
  <h1 class="text-primary text-center">Form Validations (Reactive)</h1>
  <form class="border border-primary" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group mt-2">
      <label >Project Name
        <input type="text" class="form-control" formControlName="projName">
      </label>
      <small *ngIf="reactiveForm.get('projName').touched && reactiveForm.get('projName').invalid" 
      class="form-text text-danger">Invalid</small>
    </div>
    <div class="form-group">
      <label >Email address
       <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
      </label>
      <small *ngIf="reactiveForm.get('email').touched && reactiveForm.get('email').invalid" 
      class="form-text text-danger">Invalid</small>
    </div>
    <div class="form-group">
      <label>
        Project Status
      <select class="form-control" formControlName="projStat">
          <option></option>
          <option>Stable</option>
          <option>Critical</option>
          <option>Finished</option>
        </select>
        </label>
      <small *ngIf="reactiveForm.get('projStat').touched && reactiveForm.get('projStat').invalid" 
      class="form-text text-danger">Invalid</small>
    </div>
    <div formGroupName="persons">
        <div formArrayName="members">
            <button class="mb-4 btn btn-success" (click)="onAdd()">Add Project Members</button>
            <div class="form-group" 
            *ngFor="let memberControl of reactiveForm.get('persons.members').controls; let i = index"> 
             <label>
                <input type="text" class="form-control" [formControlName]="i">
             </label>
            </div>
        </div>
    </div>
    <button type="submit" class="mb-2 btn btn-primary">Submit</button>
  </form>
  <div class="mt-4 border border-success bg-light">
      <p class="ml-2 mt-2 text-primary">Email: <span class="text-dark font-weight-bold"></span></p>
      <p class="ml-2 text-primary">Subscription: <span class="text-dark font-weight-bold"></span></p>
   </div>
</div>

